{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="page-header">
    <div class="container">
      <div class="row align-items-center">
        <div class=" col-md-6">
          <div class="page-title">
            <h2>Lifestyle</h2>
          </div>
        </div>
        <div class=" col-md-6">
          <div class="page-breadcrumb">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Travel</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page header end -->
  <!-- Archive content -->

    <section class="archive-content mt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="card simple-overlay-card border-0">
                  <a href="single-layout-one.html"><img src="{% static 'assets/images/town-street.jpg' %}" class="card-img" alt="" /></a>
                  <div class="card-img-overlay">
                    <ul class="category-tag-list">
                      <li class="category-tag-name">
                        <a href="#">Lifestyle</a>
                      </li>
                    </ul>
                    <h5 class="card-title title-font">
                      <a href="single-layout-one.html">10 ideas for travelling more</a>
                    </h5>
                    <div class="author-date">
                      <a class="author" href="#">
                        <img src="{% static 'assets/images/person1.jpg' %}" alt="" class="rounded-circle" />
                        <span class="writer-name-small">Sallie Allen
                        </span>
                      </a>
                      <a class="date" href="#">
                        <span>21 Dec, 2019</span>
                      </a>
                    </div>
                  </div>
                </div><!-- card -->
            </div><!-- col-md-4 -->
    
            <div class="col-md-4 mb-4">
              <div class="card simple-overlay-card border-0">
                  <a href="single-layout-one.html"><img src="{% static 'assets/images/woods.jpg' %}" class="card-img" alt="" /></a>
                  <div class="card-img-overlay">
                    <ul class="category-tag-list">
                      <li class="category-tag-name">
                        <a href="#">Lifestyle</a>
                      </li>
                    </ul>
                    <h5 class="card-title title-font">
                      <a href="single-layout-one.html">You will get lost in these woods</a>
                    </h5>
                    <div class="author-date">
                      <a class="author" href="#">
                        <img src="{% static 'assets/images/person1.jpg' %}" alt="" class="rounded-circle" />
                        <span class="writer-name-small">Sallie Allen
                        </span>
                      </a>
                      <a class="date" href="#">
                        <span>21 Dec, 2019</span>
                      </a>
                    </div>
                  </div>
                </div><!-- card -->
            </div><!-- col-md-4 -->
    
            <div class="col-md-4 mb-4">
              <div class="card simple-overlay-card border-0">
                  <a href="single-layout-one.html"><img src="{% static 'assets/images/blonde-girl.jpg' %}" class="card-img" alt="" /></a>
                  <div class="card-img-overlay">
                    <ul class="category-tag-list">
                      <li class="category-tag-name">
                        <a href="#">Lifestyle</a>
                      </li>
                    </ul>
                    <h5 class="card-title title-font">
                      <a href="single-layout-one.html">Why Alone time is a must for you</a>
                    </h5>
                    <div class="author-date">
                      <a class="author" href="#">
                        <img src="{% static 'assets/images/person1.jpg' %}" alt="" class="rounded-circle" />
                        <span class="writer-name-small">Sallie Allen
                        </span>
                      </a>
                      <a class="date" href="#">
                        <span>21 Dec, 2019</span>
                      </a>
                    </div>
                  </div>
                </div><!-- card -->
            </div><!-- col-md-4 -->
    
            <div class="col-md-4 mb-4">
              <div class="card simple-overlay-card border-0">
                  <a href="single-layout-one.html"><img src="{% static 'assets/images/london.jpg' %}" class="card-img" alt="" /></a>
                  <div class="card-img-overlay">
                    <ul class="category-tag-list">
                      <li class="category-tag-name">
                        <a href="#">Lifestyle</a>
                      </li>
                    </ul>
                    <h5 class="card-title title-font">
                      <a href="single-layout-one.html">10 things you should not miss about London</a>
                    </h5>
                    <div class="author-date">
                      <a class="author" href="#">
                        <img src="{% static 'assets/images/person1.jpg' %}" alt="" class="rounded-circle" />
                        <span class="writer-name-small">Sallie Allen
                        </span>
                      </a>
                      <a class="date" href="#">
                        <span>21 Dec, 2019</span>
                      </a>
                    </div>
                  </div>
                </div><!-- card -->
            </div><!-- col-md-4 -->
    
            <div class="col-md-4 mb-4">
              <div class="card simple-overlay-card border-0">
                  <a href="single-layout-one.html"><img src="{% static 'assets/images/streets.jpg' %}" class="card-img" alt="" /></a>
                  <div class="card-img-overlay">
                    <ul class="category-tag-list">
                      <li class="category-tag-name">
                        <a href="#">Lifestyle</a>
                      </li>
                    </ul>
                    <h5 class="card-title title-font">
                      <a href="single-layout-one.html">Beautiful streets of countryside</a>
                    </h5>
                    <div class="author-date">
                      <a class="author" href="#">
                        <img src="{% static 'assets/images/person1.jpg' %}" alt="" class="rounded-circle" />
                        <span class="writer-name-small">Sallie Allen
                        </span>
                      </a>
                      <a class="date" href="#">
                        <span>21 Dec, 2019</span>
                      </a>
                    </div>
                  </div>
                </div><!-- card -->
            </div><!-- col-md-4 -->
    
            <div class="col-md-4 mb-4">
              <div class="card simple-overlay-card border-0">
                  <a href="single-layout-one.html"><img src="{% static 'assets/images/december.jpg' %}" class="card-img" alt="" /></a>
                  <div class="card-img-overlay">
                    <ul class="category-tag-list">
                      <li class="category-tag-name">
                        <a href="#">Lifestyle</a>
                      </li>
                    </ul>
                    <h5 class="card-title title-font">
                      <a href="single-layout-one.html">Getting ready for December Adventures</a>
                    </h5>
                    <div class="author-date">
                      <a class="author" href="#">
                        <img src="{% static 'assets/images/person1.jpg' %}" alt="" class="rounded-circle" />
                        <span class="writer-name-small">Sallie Allen
                        </span>
                      </a>
                      <a class="date" href="#">
                        <span>21 Dec, 2019</span>
                      </a>
                    </div>
                  </div>
                </div><!-- card -->
            </div><!-- col-md-4 -->
          </div>
        </div><!-- container close -->
      </section>



{% endblock %}
